{% extends "layout.html" %}
{% block content %}


{% endblock content %}


class="d-flex flex-column h-100"


<li class="block relative">
      <a href="mailto:Junayedarefin@gmail.com" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 hover:bg-gray-100">
          <span class="text-orange-600 text-2xl fw-bold hover:text-gray-600"> <i class="mdi mdi-gmail"></i> </span>
          <span class="text-orange-600 hover:text-gray-600 font-bold md:ml-1 inline-block py-1 px-2 f-link">Junayedarefin@gmail.com</span>
      </a>
  </li>